.idea/
*.iml

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
  
*.dex  
    
*.class  
      
bin/  
gen/
/out
        
.gradle/  
build/  
	  
local.properties  
	    
*.log 

 
